body {
	margin: 0;
	padding: 0;
	font: Arial;
	background:url(images/bg_image.png) top right no-repeat; background-attachment:fixed;
}

.hea1 {
	text-shadow: -2px 2px 0px purple,
                 -4px 4px 0px pink,
                 -6px 6px 0px white;
    text-align: center;
    font-size: 30px;
	margin: 0px;
	background:url(images/bg_gif.gif) top right no-repeat; background-attachment:fixed;
	color: white;
	padding:0px 0px;
	width: 99.8%;
	border: 2px double white;
}
main {
	width: 55%;
	margin: 0% auto;
	float: center;
	padding: 20px 0px;
	border: 5px double black;
}
.hea2 {
	text-shadow:-2px 2px 0px pink,-2px 2px 0px white;
	width: 70%;
}
.history {
	background: linear-gradient(180deg, white, pink);
	border: 5px double black;
}
.section1 {
	background: linear-gradient(180deg, white, pink);
	padding-bottom: 20px
	border: 5px double black;
	padding: 3px;

}
.deff{
	background: linear-gradient(180deg, white, pink);
	font-size: 22px;
	border: 5px double black;
}
.f1 {
	width: 480px;
	height: 270px;
	float: right;
	border-radius: 20px;
}
.f2 {
	width: 250px;
	height: 380px;
	float: right;
	border-radius: 20px;
}
.f3 {
	width: 250px;
	height: 400px;
	float: right;
	border-radius: 20px;
}
.f4 {
    width: 60%;
    padding: 0 20%;
    padding-top: 20px;
}
.f5 {
    width: 20%;
    padding: 0 20%;
    padding-top: 20px;
   }
dt {
	font-size: 20px;
	font-weight: 600;
}
.clever {
	margin-left:375px;
	padding-top: 20px;
}
.clever1 {
	width: 150px;
	height: 150px;
	border-radius: 0 100%;
}
.clever2 {
	width: 150px;
	height: 150px;
	border-radius: 100% 0;
}
.reflection {
	-webkit-box-reflect: below 0px 
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.75, transparent), to(white));
}